<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@user.errors.count, "error") %>が発生しました:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3>プロフィール編集</h3>

      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <p>プロフィール写真</p>
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %>
        </div>

        <div class="form-group">
          <p>ユーザー名</p>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <p>自己紹介文</p>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "変更", class: "btn btn-primary" %>
        </div>

        <div class="form-group">
          <%= link_to '退会する', user_path(current_user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
